.content{
    background: #FFBC60;
}

.toast-error div{
    background: red;
}

.toast-successful div{
    background: green;
}

.link{
    text-decoration: underline
}

.margin-auto{
    margin: auto;
}

// icons
.icon-red{
    color: red;
}

.icon-green{
    color: green;
}