.icon[name='restaurant']{
    font-size: 5em;
}

.icon[name='close-circle']{
    font-size: 2em;
}

.icon[name='create']{
    font-size: 2em;
}

.info-reservation{
    text-align: center;
    margin: auto;
}